.icon {
  mask-image: url("/public/images/icons/ICON.svg");
  mask-repeat: no-repeat;
  display: block;
  background-color: rgb(0, 0, 0);
  width: 16px;
  height: 16px;
}

.icon-house {
  mask-position: 0 -272px;
}

.icon-customer {
  mask-position: -224px -288px;
}

.icon-opportunity {
  mask-position: -80px -48px;
}

.icon-price {
  mask-position: -64px -48px;
}

.icon-order {
  mask-position: -144px -48px;
}

.icon-merchandise {
  mask-position: -144px -240px;
}

.icon-circle-chart {
  mask-position: -32px -288px;
}

.icon-menu {
  mask-position: -48px -272px;
}

.icon-folder {
  mask-position: -208px -177px;
}

.icon-reload {
  mask-position: -352px -32px;
}

.icon-angle-down {
  mask-position: -48px -32px;
}

.icon-smart-search {
  mask-position: 0 -1425px;
  background-image: linear-gradient(
    251deg,
    rgb(66, 98, 240) 24.05%,
    rgb(159, 115, 241) 71.93%
  );
}

.icon-statistic {
  mask-position: -16px -1425px;
  background-image: linear-gradient(
    251deg,
    rgb(66, 98, 240) 24.05%,
    rgb(159, 115, 241) 71.93%
  );
}

.icon-plus {
  mask-position: -240px -128px;
}

.icon-import {
  mask-position: -176px -192px;
}

.icon-export {
  mask-position: -160px -192px;
}

.icon-dot-menu {
  mask-position: -48px 0;
}

.icon-category {
  mask-position: -128px -304px;
}

.icon-phone {
  mask-position: -320px -48px;
}

.icon-setting-pagination {
  mask-position: -272px -176px;
}

.icon-previous-start {
  mask-position: -112px -224px;
}

.icon-next-last {
  mask-position: -128px -224px;
}

.icon-previous {
  mask-position: -288px -32px;
}

.icon-next {
  mask-position: -304px -32px;
}
.icon-delete {
  mask-position: -193px -1px;
}

.icon-customer-type {
  mask-position: -288px -708px;
}
